@define-color background-color #141414;
@define-color border-color #A404D7;
@define-color label #E9E4F5;
@define-color image #E9E4F5;
@define-color progress #5B8FB9;
@define-color success #6FB3A8;
@define-color success-alt #8BD0C1;
